.pure-menu.pure-menu-fixed {
    border-bottom: none;
    z-index: 4;
}

@media (min-width: 48em){
    .home-menu {
        text-align: left;
    }
        .home-menu ul {
            float: right;
        }
    body {
        font-size: 16px;
    }
}
body {
    line-height: 1.7em;
    color: #7f8c8d;
    font-size: 13px;
}
.home-menu {
    background: #2d3e50;
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}

    .home-menu .pure-menu-heading {
        color: white;
        font-weight: 400;
        font-size: 120%;
    }

    .home-menu a {
        color: #6FBEF3;
    }


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}