@page
@model BlackTeaWeb.IndexModel
@{
    var lst = BlackTeaWeb.GW2Recruit.GetRecruitLst();
}

<h1>招募列表 </h1>

<table border="1" width="100%">
    <tr>
        <th>联系ID</th>
        <th>发布者QQ</th>
        <th>内容</th>
        <th>时间</th>
    </tr>
    @foreach (var row in lst)
    {
        <tr>
            <td>@row.timestamp</td>
            <td>@row.senderId</td>
            <td>@row.desc</td>
            <td align="right">@row.GetTimeStr()</td>
        </tr>

    }
</table>

